/* Error: Silent comments aren't allowed in plain CSS.
 *   ,
 * 1 | // colors
 *   | ^^^^^^^^^^
 *   '
 *   styles.css 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Silent comments aren't allowed in plain CSS.\a   \2577 \a 1 \2502  // colors\d\a   \2502  ^^^^^^^^^^\a   \2575 \a   styles.css 1:1  root stylesheet";
}
